.bounce-vertically-90 {
    animation: bounce-vertically-90 infinite 1000ms ease;
}

@keyframes bounce-vertically-90 {
  0% {
    transform: translateY(0%);
  }

  10% {
    transform: translateY(-90%);
  }

  25% {
    transform: translateY(0%);
  }
}
