.swing-horizontally {
    animation: swing-horizontally infinite 900ms ease;
}

@keyframes swing-horizontally {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}
