.rotate-infinite {
  animation: rotate-infinite infinite 1000ms linear;
}

.rotate-infinite-slow {
  animation: rotate-infinite infinite 2000ms linear;
}

@keyframes rotate-infinite {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.swing-horizontally {
  animation: swing-horizontally infinite 900ms ease;
}

@keyframes swing-horizontally {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.bounce-vertically-40 {
  animation: bounce-vertically-40 infinite 2000ms ease;
}

@keyframes bounce-vertically-40 {
  0% {
    transform: translateY(0%);
  }

  10% {
    transform: translateY(-40%);
  }

  20% {
    transform: translateY(0%);
  }
}

.bounce-vertically-90 {
  animation: bounce-vertically-90 infinite 1200ms ease;
}

@keyframes bounce-vertically-90 {
  0% {
    transform: translateY(0%);
  }

  10% {
    transform: translateY(-90%);
  }

  25% {
    transform: translateY(0%);
  }
}

.fading-four-count-1 {
  animation: fading-four-count infinite 1000ms linear;
}
.fading-four-count-2 {
  animation: fading-four-count infinite 1000ms linear 250ms;
}
.fading-four-count-3 {
  animation: fading-four-count infinite 1000ms linear 500ms;
}
.fading-four-count-4 {
  animation: fading-four-count infinite 1000ms linear 750ms;
}

@keyframes fading-four-count {
  0% {
    opacity: 0.3;
  }

  12.5% {
    opacity: 0.4;
  }

  25% {
    opacity: 0.5;
  }

  37.5% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.7;
  }

  62.5% {
    opacity: 0.8;
  }

  75% {
    opacity: 1;
  }
}


.roulette {
  animation: roulette infinite 900ms;
}

@keyframes roulette {
  0% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.3;
  }
}
