body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rotate-infinite {
  animation: rotate-infinite infinite 1200ms linear;
}

.rotate-infinite-slow {
  animation: rotate-infinite infinite 2s linear;
}

@keyframes rotate-infinite {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.swing-horizontally {
  animation: swing-horizontally infinite 900ms ease;
}

@keyframes swing-horizontally {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}


.fading-four-count-1 {
  animation: fading-four-count infinite 1000ms linear;
}
.fading-four-count-2 {
  animation: fading-four-count infinite 1000ms linear 250ms;
}
.fading-four-count-3 {
  animation: fading-four-count infinite 1000ms linear 500ms;
}
.fading-four-count-4 {
  animation: fading-four-count infinite 1000ms linear 750ms;
}

@keyframes fading-four-count {
  0% {
    opacity: 0.3;
  }

  12.5% {
    opacity: 0.4;
  }

  25% {
    opacity: 0.5;
  }

  37.5% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.7;
  }

  62.5% {
    opacity: 0.8;
  }

  75% {
    opacity: 1;
  }
}
